*{
    margin: 0;
    padding: 0;
    /* font-family: 'Ballet', cursive; */
    font-family: 'Comic Neue', cursive;
}

body{
    background: url('/images/background.jpg') no-repeat fixed;
    background-size: 100vw 100vh;
}


.container{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3vh 0vw;
    flex-wrap: wrap;
    /* position: sticky; */
}

.ul1 li{
    text-decoration: none;
    list-style: none;
    font-size: 4vh;
    border: 0.5vh solid white;
    border-radius: 1vh;
    padding: 0 4vh;
    margin: 4vh;
    /* animation: border_animation 10s ease-in-out infinite ; */
    animation: text_animation 10s ease-in-out infinite ;
}

.ul1 li a{
    color: white;
    text-decoration: none;
    background-color: black;
    animation: text_animation 10s ease-in-out infinite ;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 10vh;
    /* transform: translate(45vw); */
    /* margin-left: 45vw; */
    
}

.account{
    height: 9vh;
    filter: invert(100%);
    /* transform: translate(76vw);
    margin-left: 65vw; */
} 

.ul2 li{
    color: white;
}

/* .template{
    display: flex;
    overflow: scroll;
} */

.resize img{
    height: 30vh;
    width: 22vw;
    border: 0.6vh solid #905b5b;
    border-radius: 5vh;
    animation: border_change1 10s ease-in-out infinite alternate;
}

.template1{
    display: flex;
    justify-content: space-around;
    margin: 4vh;
}

.template2{
    display: flex;
    justify-content: space-around;
    margin: 4vh;
}

/* .machine_learning img{
    animation: machine 7s ease-in-out infinite alternate slidein;
} */
    /* animation: machine 3s linear 1s infinite alternate slidein;
    /* animation: machine 5s ease-in-out 5s infinite alternate slidein;
    height: 30vh;
    width: 22vw;
} */ 

.upgrade p{
    color: white;
    font-size: 6vh;
    text-align: center;
    background-color: none;
    font-weight: 700;
    animation: upgrade 1s ease-in-out infinite alternate;
}

.join p a{
    text-decoration: none;
    color: white;
    font-size: 6vh;
    text-align: center;
    background-color: none;
    border: 0.6vh solid #809633;
    border-radius: 2vh;
    position: relative;
    margin: 3vh 45vw;
}

.social p{
    text-decoration: none;
    color: white;
    font-size: 5vh;
    margin-top: 5vh;
    text-align: center;
}

.social p a img{
    height: 5vh;
}

.rights p{
    font-size: 4vh;
    color: white;
}

.facebook{
    filter: invert(100%);
    margin: 0vh 1vw;
}

/* responsive */
@media screen and (max-width: 850px) {
    .container{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 1vh 0vw;
        flex-wrap: wrap;
        /* position: sticky; */
    }

    .resize img{
        height: 19vh;
        width: 20vw;
        border: 0.6vh solid #905b5b;
        border-radius: 5vh;
        animation: border_change1 10s ease-in-out infinite alternate;
    }
    
}

@media screen and (max-width: 600px) {
    .resize img{
        height: 14vh;
        width: 15vw;
        border: 0.6vh solid #905b5b;
        border-radius: 5vh;
        animation: border_change1 10s ease-in-out infinite alternate;
    }
}

